body{
    background-color: #4ab1d2;
}

#main-div{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(11, 1fr);
    gap: 1.3%;
    background-color: #272b2c;
    width: 90%;
    padding: 30px 30px;
    border-radius: 20px;
}

#main-div > div{
    color: #4ab1d2;
    background-color: #2d3538;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    padding: 12px 14px;
    border-radius: 7px;
    margin: 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: opacity 0.1s ease;
    opacity: 1;
}

#main-div > div:hover{
    opacity: 0.5;
}

#enter{
    grid-area: 3/ 11/ auto/span2;
}

#shift{
    grid-area: 4/ 11/ auto/ span2;
}

#space{
    grid-area: 5/ 5/ 5/ 9;
}